@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap');

.bg1 {
    background-image: url("https://gael7.github.io/assets/images/background1.jpg");
    height: 100vh;
    background-size: cover;
}

.head1 {
    color: #f2b407;
    font-family: "Bree Serif";
    font-weight: 500px;
}

.para1 {
    color: #f2c852;
    font-family: "Bree Serif";
}

.btn1 {
    background-color: transparent;
    color: #f7d77c;
    border-radius: 5px;
}

.img1 {
    height: 260px;
    width: 100%;
    border-radius: 270px;
    margin-top: 90px;
}

.bg2 {
    background-image: url("https://img.freepik.com/premium-vector/black-background-spotlight-room-design_639343-130.jpg?semt=ais_hybrid&w=740");
    background-size: cover;
}

.para2 {
    color: #f2c852;
    margin-top: 85px;
    font-family: "Courier New";
    font-size: 22px;
}

.head2 {
    color: #f2b407;
    font-family: "Lucida Console";
    font-size: 30px;
    margin-left: 20px;
    margin-top: 30px;
}

.area {
    margin-left: 60px;
    font-size: 25px;
    font-family: "Comic Sans MS";
    color: #8a7641;
}

.img2 {
    height: 400px;
    width: 100%;
    border-radius: 4px;
}

.head3 {
    color: #f2b407;
    font-family: "Bree Serif";
    font-weight: 200px;
    font-size: 20px;
    width: 200px;
}

.head5 {
    color: #c936a0;
    font-family: "Bree Serif";
    font-weight: 250px;
}

.head4 {
    color: #f2a5dd;
    font-family: "Bree Serif";
    font-weight: 250px;
    font-size: 20px;
}

.btn2 {
    background-color: transparent;
    color: #ed24b4;
    border-color: #db27a8;
    border-radius: 5px;
    border-style: solid;
}

.head5 {}

.area1 {
    margin-left: 60px;
    font-size: 25px;
    font-family: "Comic Sans MS";
    color: #f099e0;
}

.list {
    list-style-type: circle;
}

.bg3 {
    background-color: #eb8dd9;
    height: 100px;
}

.circle {
    height: 35px;
    width: 35px;
    background-color: black;
    text-align: center;
    border-radius: 35px;
}

.logo {
    color: #1209bd;
    font-size: 20px;
    margin-top: 6px;
}
.center {
    margin-left: 150px;
}
